
table.mat-table {
    border-spacing: 0;
}

table {
    border: 0.063rem solid black;
}

th, td {
    border-bottom: 0.063rem solid black;
    border-collapse: collapse;
    padding: 1.5rem;
  }

  th.mat-header-cell {
      padding: 1.5rem;
  }

  table {
      width: 100%;
  }