
table.mat-table {
    border-spacing: 0;
}

table {
    border: 1px solid black;
}

th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 24px;
  }

  th.mat-header-cell {
      padding: 24px;
  }

  table {
      width: 100%;
  }