<button class = "example-button-row"
      mat-raised-button 
      color="primary" 
      center 
      [routerLink]="['/homePage']">Home</button>
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="Fourth"> Content 4 </mat-tab>
    <mat-tab label="Inventory"> <app-data-table></app-data-table>  </mat-tab>
    <mat-tab label="Volunter Form" > 
    <app-register-form></app-register-form>  
    </mat-tab>
  </mat-tab-group>